@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: ComicNeue;
        font-weight: 400;
        src: url(/fonts/Comic_Neue/ComicNeue-Regular.ttf) format("woff");
    }
}